html
{
	scroll-behavior: smooth;
}

body
{
	margin: 0;
	font-family: Helvetica;
	font-size: 1.5em;
	color:#ffb300;
	background-color: #12001e;
	text-shadow:0.4rem 0.4rem 0.8rem #25003e80;
	text-align: center;
}

@media screen and (max-width: 640px)
{
	.hero-image
	{
		background-attachment:scroll, scroll;
	}
}

@media screen and (min-width: 641px)
{
	.hero-image
	{
		background-attachment:scroll, fixed;
	}
}

.container-width
{
	width:90%;
	max-width:1150px;
	margin:0 auto 0 0;
	display:block;
}

h1
{
	font-size: 6vmin;
}

ul
{
	margin: 0.3em 1em;
}

p, ul, hr
{
	margin: 0.3em 15%;
	line-height: 1.25em;
}

hr
{
	color: inherit;
	background-color: inherit;
	border-color: inherit;
}

a
{
	color: inherit;
	transition: background 50ms ease-out, transform 150ms ease-out;
	text-decoration: none;
}

a:active
{
	transform: scale(0.95);
}

a.anchor
{
	position: relative;
	top: -3em;
	visibility: hidden;
}

.hero-image
{
	/* font-weight:100; */
	background-image: linear-gradient(to right, #000a 0%, #0002 50%), url(/avt217/Opa-Opa.gif);
	background-attachment:scroll, fixed;
	background-position:left top, center center;
	background-repeat:repeat-y, no-repeat;
	background-size:contain, cover;
	height:100vh;
	/* padding: 80vh 0 0 0; */
	/* display:inline-block; */
	width:100%;
	overflow: hidden;
}

.hero-title
{
	display: block;
	margin: 0 0 0 5vmin;
	font-size:10vmin;
	font-family:Arial Black, Gadget, sans-serif;
	line-height:1em;
	position: relative;
	top: 80vh;
	text-align: left;
}

.hero-title.subtitle
{
	font-size:5vmin;
}

.navbar
{
	width:100%;
	position:fixed;
	bottom:100%;
	top: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);;
	font-family: Arial, Helvetica, sans-serif;
	height:8vh;
}

.links
{
    display: grid;
    grid-auto-flow: column;
    line-height: 0;
    padding: 3rem 0rem 0 3rem;
}

a.nav
{
	font-size: 3vmin;
	text-align: center;
}
a.nav.home
{
    font-size: 5vmin;
}

div.intro
{
	overflow:hidden;
	text-align: left;
}

div.intro.container
{
	animation-name:intro;
	animation-duration:3.58s;
}

div.intro.split
{
	width:100%;
	height:50%;
	position:absolute;
	left:0%;
	animation-name:introSplit;
	animation-duration:0.16s;
	animation-fill-mode:forwards;
}

div.intro.split.p1
{
	background-color:black;
}
div.intro.split.p1.top
{
	top:0%;
}
div.intro.split.p1.bottom
{
	bottom:0%;
}
div.intro.split.p2
{
	background-color:#4160B4;
	animation-delay:0.1s;
}
div.intro.split.p2.top
{
	top:0%;
}
div.intro.split.p2.bottom
{
	bottom:0%;
}
div.intro.split.p3
{
	background-color:#F6502D;
	animation-delay:0.16s;
}
div.intro.split.p3.top
{
	top:0%;
}
div.intro.split.p3.bottom
{
	bottom:0%;
}
div.intro.split.p4
{
	background-color:#F48E16;
	animation-delay:0.28s;
}
div.intro.split.p4.top
{
top:0%;
}
div.intro.split.p4.bottom
{
	bottom:0%;
}
div.intro.split.p5
{
	background-color:#63C3A6;
	animation-delay:0.36s;
}
div.intro.split.p5.top
{
	top:0%;
}
div.intro.split.p5.bottom
{
	bottom:0%;
}
svg.intro
{
	overflow:hidden;
	position:fixed;
	top:0%;
	bottom:0%;
	width:100%;
	height:100%;
	animation-fill-mode:forwards;
	animation-timing-function:ease;
}
svg.intro.split
{
	fill:#F5CA00;
	animation-duration:0.27s;
	animation-delay:2.38s;
}
svg.intro.split.left
{
animation-name:introSplitLeft;
left:0%;
}
svg.intro.split.right
{
animation-name:introSplitRight;
right:0%;
}
svg.intro.slant
{
transform:translate(50%,100%);
animation-duration:3.58s;
}
svg.intro.slant.orange{
animation-name:introSlantOrange;
fill:#F48E16;
}
svg.intro.slant.cyan{
animation-name:introSlantCyan;
fill:#63C3A6;
}
svg.intro.slant.red{
animation-name:introSlantRed;
fill:#F6502D;
}
svg.intro.slant.blue{
animation-name:introSlantBlue;
fill:#4160B4;
}
svg.intro.text{
animation-duration:3.58s;
}
svg.intro.text.black{
animation-name:introTextBlack;
transform:translate(-100%,100%);
}
svg.intro.text.white{
animation-name:introTextWhite;
transform:translate(100%,100%);
}

@keyframes fadeEffect{
from{
opacity:0;
}
to{
opacity:1;
}
}
@keyframes intro{
from{
visibility:visible;
}
to{
visibility:hidden;
}
}
@keyframes introSplit{
from{
height:50%;
}
to{
height:0%;
}
}
@keyframes introSplitLeft{
from{
transform:translateX(0%);
}
to{
transform:translateX(-100%);
}
}
@keyframes introSplitRight{
from{
transform:translateX(0%);
}
to{
transform:translateX(100%);
}
}
@keyframes introSlantOrange{
0%{
transform:translate(50%,100%);
}
21.4%{
transform:translate(50%,100%);
}
26.5%{
transform:translate(0%,0%);
}
69.3%{
transform:translate(0%,0%);
}
74.4%{
transform:translate(-50%,-100%);
}
100%{
transform:translate(-50%,-100%);
}
}
@keyframes introSlantCyan{
0%{
transform:translate(50%,100%);
}
23.3%{
transform:translate(50%,100%);
}
28.8%{
transform:translate(0%,0%);
}
63.7%{
transform:translate(0%,0%);
}
68.8%{
transform:translate(-50%,-100%);
}
100%{
transform:translate(-50%,-100%);
}
}
@keyframes introSlantRed{
0%{
transform:translate(50%,100%);
}
21.9%{
transform:translate(50%,100%);
}
28.4%{
transform:translate(0%,0%);
}
66.5%{
transform:translate(0%,0%);
}
71.6%{
transform:translate(-50%,-100%);
}
100%{
transform:translate(-50%,-100%);
}
}
@keyframes introSlantBlue{
0%{
transform:translate(50%,100%);
}
18.6%{
transform:translate(50%,100%);
}
25.6%{
transform:translate(0%,0%);
}
72.1%{
transform:translate(0%,0%);
}
75.3%{
transform:translate(-50%,-100%);
}
100%{
transform:translate(-50%,-100%);
}
}
@keyframes introTextBlack{
0%{
transform:translate(-100%,15%) scaleX(-1);
}
7.9%{
transform:translate(100%,15%) scaleX(-1);
}
14.4%{
transform:translate(100%,0%) scaleX(1);
}
20%{
transform:translate(0%,0%);
}
91.6%{
transform:translate(0%,0%);
}
100%{
transform:translate(200%,0%);
}
}
@keyframes introTextWhite{
	0%{
	transform:translate(100%,-15%) scaleX(-1);
	}
	7%{
	transform:translate(-100%,-15%) scaleX(-1);
	}
	15.3%{
	transform:translate(-100%,0%) scaleX(1);
	}
	20%{
	transform:translate(0%,0%);
	}
	91.6%{
	transform:translate(0%,0%);
	}
	100%{
	transform:translate(-200%,0%);
}