@charset "utf-8";
:root {
  /* Gruvbox Color Palette */
  --primary-light: #fef6d7;
  --primary: #fbf1c7;
  --primary-dark: #d5c4a1;
  --primary-darker: #bdae93;

  --secondary-light: #f4b8e4;
  --secondary: #d3869b;
  --secondary-dark: #b16286;
  --secondary-darker: #8f3f71;

  --background-dark: #1d2021;
  --background: #3c3836;
  --background-light: #504945;
  --background-lighter: #797261;

  --red: #fb4934;
  --orange: #fe8019;
  --yellow: #fabd2f;
  --green: #7df46a;
  --cyan: #82aaff;
  --blue: #4a89dc;
  --purple: #c792ea;
  --brown: #e85012;

  font-size: 1.35rem;
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 1.2rem;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-light);
}

@supports (scrollbar-color: var(--primary) var(--background)) {
  * {
    scrollbar-color: var(--primary) var(--background);
  }
}

body {
  margin: 0;
  padding: 5px 5px 0 0;
  background-color: var(--background-dark);
  font-family: Antonio, "Arial Narrow", "Avenir Next Condensed", sans-serif;
  line-height: 1.5;
  color: var(--primary);
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-light);
}

.contact {
  text-decoration: none;
}

.video-background-container {
  position: relative;
  width: 100%;
  height: 75vh;
  max-height: 15em;
  margin-top: -30px;
  margin-bottom: 5px;
  margin-left: 5px;
  /* padding-left: 5px; */
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 0 0;
  z-index: -1;
  /* opacity: 0.5; */
}

.software-icons {
  /* Make this flex horizontally */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes colorchange {
  0% {
    color: var(--primary-dark);
  }
  25% {
    color: var(--primary-dark);
  }
  50% {
    color: var(--primary-dark);
  }
  75% {
    color: var(--primary-dark);
  }
  80% {
    color: var(--background-dark);
  }
  90% {
    color: var(--background-dark);
  }
  100% {
    color: var(--primary-light);
  }
}

.wrap {
  display: flex;
  margin: 0 auto;
  padding: 0 5px 0 5px;
  /* overflow: hidden; */
  max-width: 1340px;
}

#stretch .wrap {
  max-width: 100%;
}

.scroll-top {
  display: block;
}

.scroll-top a {
  display: none;
  width: 190px;
  height: 150px;
  position: fixed;
  bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  border-top: 5px solid var(--background-dark);
  border-left: 5px solid var(--background-dark);
  border-right: 5px solid var(--background-dark);
  padding: 20px 10px 20px 2px;
  background-color: var(--purple);
  font-size: 0.96rem;
  font-weight: 700;
  color: var(--background-dark);
}

.left-frame,
.left-frame-top {
  width: 190px;
  min-width: 190px;
  text-align: right;
  font-size: 0.88rem;
  font-weight: 700;
  color: var(--background-dark);
  /* border-right: 5px solid var(--background-dark); */
  background-color: var(--blue);
}

.left-frame-top {
  border-radius: 0 0 0 100px;
}

.left-frame a,
.left-frame-top a {
  text-decoration: none;
}

.left-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 90px;
  border-radius: 100px 0 0 100px;
  /* background-color: var(--red); */
}

.bottom {
  border-radius: 100px 0 0 0;
}

.panel-1 {
  display: block;
  background-color: var(--purple);
  background-image: url("icon.gif");
  background-size: cover;
  background-position: 50% 0;
  padding: 82px 10px 15px 0;
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
  color: azure;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-1 a:active,
.panel-1 a:focus {
  filter: brightness(70%);
  text-decoration: none;
  border-bottom: none;
  outline: 0;
}

.panel-2 {
  padding: 15px 10px 0 0;
}

/* .right-frame,
.right-frame-top {
    padding-left: 5px;
} */

.right-frame-top {
  flex: 1;
  /* background-color: var(--background-dark); */
}

.banner {
  text-align: right;
  color: var(--primary);
}

.banner a {
  color: var(--primary);
  text-decoration: none;
}

.banner a:hover {
  color: var(--primary-light);
}

@media only screen and (max-width: 500px) {
  .h1 {
    padding: 5px 0 10px 3px;
    font-size: 1.2rem;
  }
}

.data-cascade-button-group {
  padding-left: 5px;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

@media only screen and (max-width: 610px) {
  .data-cascade-button-group {
    column-gap: 0;
  }
}

.cascade-wrapper {
  flex: 1;
  padding-right: 10px;
}

@media only screen and (min-width: 1080px) {
  .cascade-wrapper {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 760px) {
  .cascade-wrapper {
    display: none;
  }
}

.data-cascade {
  max-width: 1200px;
  font-size: 0.8rem;
  line-height: 22px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 22px;
  color: var(--background-dark);
}

.data-cascade .row-1 {
  animation: colorchange 2s infinite;
  animation-delay: 0.1s;
}

.data-cascade .row-2 {
  animation: colorchange 3s infinite;
  animation-delay: 0.2s;
}

.data-cascade .row-3 {
  animation: colorchange 2s infinite;
  animation-delay: 0.3s;
}

.data-cascade .row-4 {
  animation: colorchange 2s infinite;
  animation-delay: 0.4s;
}

.data-cascade .row-5 {
  animation: colorchange 3s infinite;
  animation-delay: 0.5s;
}

.data-cascade .row-6 {
  animation: colorchange 2s infinite;
  animation-delay: 0.6s;
}

.data-cascade#niagara .row-1 {
  animation: colorchange 2s infinite;
  animation-delay: 0.1s;
}

.data-cascade#niagara .row-2 {
  animation: colorchange 2s infinite;
  animation-delay: 0.2s;
}

.data-cascade#niagara .row-3 {
  animation: colorchange 2s infinite;
  animation-delay: 0.3s;
}

.data-cascade#niagara .row-4 {
  animation: colorchange 2s infinite;
  animation-delay: 0.4s;
}

.data-cascade#niagara .row-5 {
  animation: colorchange 2s infinite;
  animation-delay: 0.5s;
}

.data-cascade#niagara .row-6 {
  animation: colorchange 2s infinite;
  animation-delay: 0.6s;
}

.data-cascade#orinoco .row-1 {
  animation: colorchange 2s infinite;
  animation-delay: 0.1s;
}

.data-cascade#orinoco .row-2 {
  animation: colorchange 2s infinite;
  animation-delay: 0.2s;
}

.data-cascade#orinoco .row-3 {
  animation: colorchange 3s infinite;
  animation-delay: 0.3s;
}

.data-cascade#orinoco .row-4 {
  animation: colorchange 3s infinite;
  animation-delay: 0.4s;
}

.data-cascade#orinoco .row-5 {
  animation: colorchange 2s infinite;
  animation-delay: 0.5s;
}

.data-cascade#orinoco .row-6 {
  animation: colorchange 2s infinite;
  animation-delay: 0.6s;
}

.data-cascade#frozen .row-1 {
  animation: none;
  color: var(--primary);
}

.data-cascade#frozen .row-2 {
  animation: none;
  color: var(--primary);
}

.data-cascade#frozen .row-3 {
  animation: none;
  color: var(--primary);
}

.data-cascade#frozen .row-4 {
  animation: none;
  color: var(--secondary-light);
}

.data-cascade#frozen .row-5 {
  animation: none;
  color: var(--primary-light);
}

.data-cascade#frozen .row-6 {
  animation: none;
  color: var(--primary);
}

.dc1,
.dc10,
.dc11,
.dc12,
.dc13,
.dc14,
.dc2,
.dc3,
.dc4,
.dc5,
.dc6,
.dc7,
.dc8,
.dc9,
.grid,
.grid-1,
.grid-2,
.grid-3,
.grid-4 {
  flex: 1;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
}

.grid {
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-between;
}

.button-group,
.button-col-1,
.button-col-2 {
  width: 380px;
  height: 100%;
  padding-right: 5px;
  margin-bottom: -15px;
}

@media only screen and (max-width: 610px) {
  .button-group,
  .button-col-1,
  .button-col-2 {
    width: 100%;
    padding-right: 0;
  }
}

.button {
  width: 50%;
  margin-right: -5px;

  height: 58px;
  line-height: 58px !important;

  margin-bottom: 15px;
  /* padding: 22px 0; */
  border-radius: 26px;
  background-color: var(--blue);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--background-dark);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  word-wrap: break-word;

  border: none;
}

.button#top-left {
  background-color: var(--blue);
}

.button#bottom-left {
  background-color: var(--primary);
}

.button#top-right {
  background-color: var(--yellow);
}

.button#bottom-right {
  background-color: var(--red);
}

button {
  font: inherit;
  cursor: pointer;
}

button:hover {
  filter: brightness(130%);
}

button:active {
  filter: brightness(70%);
}

@media only screen and (max-width: 1280px) {
  .button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1152px) {
  .button {
    font-size: 0.875rem;
  }

  .video-background {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1024px) {
  .button {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 860px) {
  .button {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 760px) {
  .button {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 500px) {
  .button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;

    height: 44px;
    line-height: 44px !important;

    border-radius: 20px;
    text-align: center;
    font-size: 0.85rem;
  }

  .grid {
    flex-direction: column;
  }
}

.top-corner-bg {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    to top right,
    var(--blue) 50%,
    var(--background-dark) 50%
  );
}

.top-corner {
  width: 40px;
  height: 40px;
  background-color: var(--background-dark);
  border-radius: 0 0 0 40px;
}

.bar-panel {
  display: flex;
  height: 22px;
}

.bar-1,
.bar-10,
.bar-2,
.bar-3,
.bar-4,
.bar-5,
.bar-6,
.bar-7,
.bar-9 {
  height: 22px;
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-6,
.bar-7,
.bar-8,
.bar-9 {
  border-right: 5px solid var(--background-dark);
}

.bar-1,
.bar-6 {
  transition: width 1s;
}

.bar-1 {
  width: 433px;
  background-color: var(--blue);
}

.bar-2 {
  width: 40px;
  background-color: var(--orange);
}

.bar-3 {
  width: 200px;
  background-color: var(--purple);
}

.bar-4 {
  flex: 1;
  background-color: var(--purple);
}

.bar-5 {
  width: 50px;
  background-color: var(--red);
}

.bar-6 {
  width: 433px;
  background-color: var(--blue);
}

.bar-7 {
  width: 40px;
  background-color: var(--yellow);
}

.bar-8 {
  width: 200px;
  height: 11px;
  background-color: var(--red);
}

.bar-9 {
  flex: 1;
  background-color: var(--purple);
}

.bar-10 {
  width: 50px;
  background-color: var(--yellow);
}

#gap {
  margin-top: 10px;
}

.panel-1,
.panel-3,
.panel-4,
.panel-5,
.panel-6,
.panel-7,
.panel-8 {
  border-bottom: 5px solid var(--background-dark);
}

.panel-3 {
  padding: 0 10px 15px 0;
}

.panel-4 {
  padding: 180px 10px 15px 0;
  background-color: var(--red);
}

.panel-5 {
  padding: 25px 10px 25px 0;
  background-color: var(--orange);
}

.panel-6 {
  padding: 230px 10px 15px 0;
  background-color: var(--yellow);
}

.panel-7 {
  padding: 15px 10px 300px 0;
  background-color: var(--blue);
}

.panel-8 {
  padding: 15px 10px 110px 0;
  background-color: var(--yellow);
}

.panel-9 {
  padding: 15px 10px 170px 0;
  background-color: var(--red);
}

.panel-10 {
  border-top: 5px solid var(--background-dark);
  background-color: var(--green);
  padding: 15px 10px 300px 0;
}

.right-frame {
  flex: 1;
  background-color: var(--background-dark);
}

.corner-bg {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    to bottom right,
    var(--blue) 50%,
    var(--background-dark) 50%
  );
}

.corner {
  width: 40px;
  height: 40px;
  background-color: var(--background-dark);
  border-radius: 40px 0 0 0;
}

.content {
  padding: 0 0 25px 50px;
  background-color: var(--background-dark);
}

.content > :first-child {
  margin-top: 0;
}

.content img {
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 50%;
  padding: 0 1vw;
}

h1,
h2,
h3 {
  margin: 30px 0;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

h1 {
  text-align: right;
  font-size: clamp(1.6rem, 1.6rem + 2.7vw, 3.34rem);
}

h2 {
  font-size: clamp(1.2rem, 1.2rem + 2vw, 2rem);
}

h3 {
  font-size: clamp(1.1rem, 1rem + 2vw, 1.8rem);
}

p.caption {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.88rem;
}

p.indent {
  padding-left: 40px;
}

p.postmeta {
  margin-top: 0;
  text-align: right;
  font-size: clamp(1rem, 0.85rem + 1.4vw, 1.6rem);
  text-transform: uppercase;
}

.logging h1 {
  margin-bottom: 0;
}

code {
  font-size: 0.8rem;
  color: var(--primary);
}

hr {
  margin: 30px 0;
  height: 6px;
  border: none;
  background-color: var(--purple);
  border-radius: 3px;
}

.disc {
  margin: 30px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

blockquote {
  margin: 30px 40px;
  border-left: 4px solid var(--purple);
  padding-left: 20px;
}

.nomar {
  margin: 0 !important;
}

.go-center {
  text-align: center !important;
}

.go-right {
  text-align: right !important;
}

.go-left {
  text-align: left !important;
}

.go-big {
  font-size: 1.3rem;
}

.go-bigger {
  font-size: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.strike {
  text-decoration: line-through;
}

.now {
  white-space: nowrap;
}

.blink-slower {
  animation: blink 3s infinite;
  animation-delay: 1s;
}

.blink {
  animation: blink 2s infinite;
  animation-delay: 1s;
}

.blink-faster {
  animation: blink 1s infinite;
  animation-delay: 1s;
}

a:hover {
  animation: none;
}

.pics-left,
.pics-right {
  max-width: 50%;
}

.pics-right {
  float: right;
  margin: 10px 0 20px 20px;
}

.pics-left {
  float: left;
  margin: 10px 20px 20px 0;
}

.pics {
  display: block;
  margin: 30px auto 0 auto;
}

video {
  max-height: 100%;
  max-width: 100%;
}

.border {
  padding: 10px;
  border: 2px solid var(--purple);
}

.lcars-list {
  list-style: none;
}

.lcars-list li {
  position: relative;
  padding: 0 0 5px 42px;
  font-size: 1.3rem;
}

.lcars-list li::before {
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  top: 13px;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .lcars-list {
    margin-left: 0;
    padding-left: 0;
  }
  .lcars-list li::before {
    top: 10px;
  }
}

.buttons {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.buttons a {
  display: block;
  margin: 0 8px 16px 8px;
  width: 200px;
  height: 60px;
  padding: 24px 25px 0 0;
  background-color: var(--purple);
  border-radius: 26px;
  text-align: right;
  line-height: normal;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-dark);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons a:active,
.buttons a:focus {
  filter: brightness(70%);
  outline: 0;
}

.buttons a.two-rows {
  font-size: 21px;
  padding-top: 2px;
}

.sidebar-buttons a {
  display: block;
  text-decoration: none;
  text-align: right;
  border-bottom: 5px solid var(--background-dark);
  padding: 20px 10px 20px 2px;
  background-color: var(--red);
  text-transform: uppercase;
  color: var(--background-dark);
}

.sidebar-buttons a:hover {
  filter: brightness(110%);
}

.sidebar-buttons a:active,
.sidebar-buttons a:focus {
  filter: brightness(80%);
  outline: 0;
}

@media only screen and (max-width: 500px) {
  .sidebar-buttons a {
    text-align: center;
    padding: 10px 0;
  }
}

.lcars-bar {
  margin: 40px auto;
  height: 20px;
  background-color: var(--background-dark);
  border-right: 18px solid var(--secondary-light);
  border-left: 18px solid var(--secondary-light);
  border-radius: 9px;
  padding: 0 5px;
}

.lcars-bar-inner {
  height: 20px;
  background-color: var(--purple);
}

.lcars-bar-slice-top {
  margin: 40px auto -30px auto;
  width: 180px;
  height: 8px;
  background-color: var(--purple);
}

.lcars-bar-cutout {
  margin: 0 auto;
  width: 180px;
  height: 10px;
  background-color: var(--background-dark);
}

.lcars-bar-slice-bottom {
  margin: -30px auto 0 auto;
  width: 180px;
  height: 5px;
  background-color: var(--purple);
}

.lcars-text-bar {
  display: flex;
  position: relative;
  margin: 32px 0;
  overflow: visible;
  border-radius: 14px;
  height: 32px;
  background-color: var(--secondary);
  border-right: 28px solid var(--secondary-dark);
  border-left: 28px solid var(--secondary-dark);
}

.the-end {
  justify-content: flex-end;
}

.lcars-text-bar span {
  position: absolute;
  top: -4px;
  background-color: var(--background-dark);
  height: 40px;
  overflow: visible;
  padding: 0 10px;
  font-size: 1.64rem;
  vertical-align: top;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--yellow);
}

.lcars-text-bar::before {
  content: "";
  background-color: var(--background-dark);
  display: block;
  width: 10px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.lcars-text-bar::after {
  content: "";
  background-color: var(--background-dark);
  display: block;
  width: 10px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .lcars-text-bar {
    border-radius: 10px;
    height: 24px;
    border-right-width: 20px;
    border-left-width: 20px;
  }
  .lcars-text-bar span {
    position: absolute;
    top: -6px;
    height: 30px;
    padding: 0 5px;
    font-size: 1.34rem;
    line-height: 32px;
  }
  .lcars-text-bar::after,
  .lcars-text-bar::before {
    width: 5px;
    height: 24px;
  }
}

.red,
.oc-red::before {
  background-color: var(--red) !important;
}
.go-red {
  color: var(--red) !important;
}

.orange,
.oc-orange::before {
  background-color: var(--orange) !important;
}
.go-orange {
  color: var(--orange) !important;
}

.yellow,
.oc-yellow::before {
  background-color: var(--yellow) !important;
}
.go-yellow {
  color: var(--yellow) !important;
}

.green,
.oc-green::before {
  background-color: var(--green) !important;
}
.go-green {
  color: var(--green) !important;
}

.cyan,
.oc-cyan::before {
  background-color: var(--cyan) !important;
}
.go-cyan {
  color: var(--cyan) !important;
}

.blue,
.oc-blue::before {
  background-color: var(--blue) !important;
}
.go-blue {
  color: var(--blue) !important;
}

.purple,
.oc-purple::before {
  background-color: var(--purple) !important;
}
.go-purple {
  color: var(--purple) !important;
}

.brown,
.oc-brown::before {
  background-color: var(--brown) !important;
}
.go-brown {
  color: var(--brown) !important;
}

.white,
.oc-white::before {
  background-color: var(--primary-light) !important;
}
.go-white {
  color: var(--primary-light) !important;
}

.gray,
.oc-gray::before {
  background-color: var(--background-light) !important;
}
.go-gray {
  color: var(--background-light) !important;
}

.black,
.oc-black::before {
  background-color: var(--background-dark) !important;
}
.go-black {
  color: var(--background-dark) !important;
}

.c43,
.oc-c43::before {
  background-color: var(--blue) !important;
}

.go-c43 {
  color: var(--blue) !important;
}

.c44,
.oc-c44::before {
  background-color: var(--cyan) !important;
}

.go-c44 {
  color: var(--cyan) !important;
}

.c45,
.oc-c45::before {
  background-color: var(--blue) !important;
}

.go-c45 {
  color: var(--blue) !important;
}

.c46,
.oc-c46::before {
  background-color: var(--blue) !important;
}

.go-c46 {
  color: var(--blue) !important;
}

.c47,
.oc-c47::before {
  background-color: var(--blue) !important;
}

.go-c47 {
  color: var(--blue) !important;
}

.c48,
.oc-c48::before {
  background-color: var(--cyan) !important;
}

.go-c48 {
  color: var(--cyan) !important;
}

.c49,
.oc-c49::before {
  background-color: var(--cyan) !important;
}

.go-c49 {
  color: var(--cyan) !important;
}

.c50,
.oc-c50::before {
  background-color: var(--brown) !important;
}

.go-c50 {
  color: var(--brown) !important;
}

.c51,
.oc-c51::before {
  background-color: var(--purple) !important;
}

.go-c51 {
  color: var(--purple) !important;
}

.c52,
.oc-c52::before {
  background-color: var(--purple) !important;
}

.go-c52 {
  color: var(--purple) !important;
}

.c53,
.oc-c53::before {
  background-color: var(--purple) !important;
}

.go-c53 {
  color: var(--purple) !important;
}

.c54,
.oc-c54::before {
  background-color: var(--purple) !important;
}

.go-c54 {
  color: var(--purple) !important;
}

.c55,
.oc-c55::before {
  background-color: var(--purple) !important;
}

.go-c55 {
  color: var(--purple) !important;
}

.c56,
.oc-c56::before {
  background-color: var(--orange) !important;
}

.go-c56 {
  color: var(--orange) !important;
}

.c57,
.oc-c57::before {
  background-color: var(--secondary) !important;
}

.go-c57 {
  color: var(--secondary) !important;
}

.c58,
.oc-c58::before {
  background-color: var(--purple) !important;
}

.go-c58 {
  color: var(--purple) !important;
}

.c59,
.oc-c59::before {
  background-color: var(--green) !important;
}

.go-c59 {
  color: var(--green) !important;
}

.c60,
.oc-c60::before {
  background-color: var(--green) !important;
}

.go-c60 {
  color: var(--green) !important;
}

.c61,
.oc-c61::before {
  background-color: var(--green) !important;
}

.go-c61 {
  color: var(--green) !important;
}

.c62,
.oc-c62::before {
  background-color: var(--primary-light) !important;
}

.go-c62 {
  color: var(--primary-light) !important;
}

.c63,
.oc-c63::before {
  background-color: var(--primary-light) !important;
}

.go-c63 {
  color: var(--primary-light) !important;
}

.c64,
.oc-c64::before {
  background-color: var(--purple) !important;
}

.go-c64 {
  color: var(--purple) !important;
}

.c65,
.oc-c65::before {
  background-color: var(--primary-light) !important;
}

.go-c65 {
  color: var(--primary-light) !important;
}

.c66,
.oc-c66::before {
  background-color: var(--purple) !important;
}

.go-c66 {
  color: var(--purple) !important;
}

.c67,
.oc-c67::before {
  background-color: var(--secondary) !important;
}

.go-c67 {
  color: var(--secondary) !important;
}

.c68,
.oc-c68::before {
  background-color: var(--red) !important;
}

.go-c68 {
  color: var(--red) !important;
}

.c69,
.oc-c69::before {
  background-color: var(--red) !important;
}

.go-c69 {
  color: var(--red) !important;
}

.c70,
.oc-c70::before {
  background-color: var(--red) !important;
}

.go-c70 {
  color: var(--red) !important;
}

.c71,
.oc-c71::before {
  background-color: var(--primary-light) !important;
}

.go-c71 {
  color: var(--primary-light) !important;
}

.c72,
.oc-c72::before {
  background-color: var(--primary-light) !important;
}

.go-c72 {
  color: var(--primary-light) !important;
}

footer {
  display: flex;
  bottom: 0;
  margin: 50px auto 0 auto;
  padding: 12px 0;
  background: linear-gradient(var(--blue) 50%, var(--red) 50%);
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

footer::before {
  content: "";
  background-color: var(--background-dark);
  display: block;
  width: 5px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 25%;
  overflow: hidden;
}

footer::after {
  content: "";
  background-color: var(--background-dark);
  display: block;
  width: 2px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -1px;
  overflow: hidden;
}

.footer-panel {
  width: 12%;
  max-width: 130px;
  height: 100px;
  margin: auto;
  padding: 10px 0 0 1%;
  background-color: var(--yellow);
  border-top: 5px solid var(--background-dark);
  border-bottom: 5px solid var(--background-dark);
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--background-dark);
}

.footer-inside {
  flex: 1;
  min-height: 180px;
  background-color: var(--background-dark);
  border-radius: 0 20px 20px 0;
  padding: 1.5rem 1rem;
  z-index: 2;
}

.footer-inside::before {
  content: "";
  background-color: var(--blue);
  display: block;
  width: 15%;
  min-width: 60px;
  height: 10px;
  position: absolute;
  top: 17px;
  left: 1px;
  overflow: hidden;
}

.footer-inside::after {
  content: "";
  background-color: var(--red);
  display: block;
  width: 15%;
  min-width: 60px;
  height: 10px;
  position: absolute;
  bottom: 12px;
  left: 1px;
  overflow: hidden;
}

.footer-text {
  display: flex;
  flex-direction: column;
  min-height: 146px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 0.94rem;
}

.footer-text > * {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  footer::before {
    left: 40%;
  }
}

.footer {
  margin: 0 auto;
  font-size: 0.94rem;
}

@media only screen and (max-width: 1240px) {
  .dc13,
  .dc14,
  .grid-3 {
    display: none;
  }
  .bar-1,
  .bar-6 {
    width: 320px;
  }
  .panel-4 {
    padding-top: 115px;
  }
}

@media only screen and (max-width: 1080px) {
  .left-frame,
  .left-frame-top {
    width: 170px;
    min-width: 170px;
  }
  .scroll-top a {
    width: 170px;
  }
  .dc10,
  .dc11,
  .dc12,
  .grid-1 {
    display: none;
  }
  .bar-1,
  .bar-6 {
    width: 290px;
  }
  .left-frame {
    padding-top: 70px;
  }
  .content {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 890px) {
  .left-frame,
  .left-frame-top {
    width: 130px;
    min-width: 130px;
  }
  .left-frame-top {
    border-radius: 0 0 0 80px;
  }
  .left-frame {
    border-radius: 80px 0 0 80px;
  }
  .bottom {
    border-radius: 80px 0 0 0;
  }
  .scroll-top a {
    width: 130px;
    padding: 10px 0 0 0;
    text-align: center;
  }
  .sutrebor {
    margin: 4px 4px 19px 69px;
  }
  .bar-1,
  .bar-6 {
    width: 180px;
  }
  .bar-3,
  .bar-8 {
    width: 180px;
  }
  .content {
    padding-left: 30px;
  }
  blockquote {
    margin-right: 0;
    margin-left: 25px;
  }
  .cut-out-top {
    margin-left: 85px;
  }
  .cut-out {
    margin-left: 85px;
  }
  .cut-out-float {
    margin-left: 85px;
  }
  .dc7,
  .dc8,
  .dc9,
  .grid-2 {
    display: none;
  }
  .pics-left,
  .pics-right {
    width: 100%;
    max-width: 100%;
    float: none;
    margin: 20px 0 20px 0;
  }
  .pics-left img,
  .pics-right img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 790px) {
  .dc5,
  .dc6,
  .grid-4 {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .left-frame,
  .left-frame-top {
    width: 110px;
    min-width: 110px;
  }
  .left-frame-top {
    border-radius: 0 0 0 60px;
  }
  .left-frame {
    border-radius: 60px 0 0 60px;
  }
  .bottom {
    border-radius: 60px 0 0 0;
  }
  .scroll-top a {
    width: 110px;
    height: 110px;
  }
  .bar-panel {
    height: 16px;
  }
  .bar-1,
  .bar-10,
  .bar-2,
  .bar-3,
  .bar-4,
  .bar-5,
  .bar-6,
  .bar-7,
  .bar-9 {
    height: 16px;
  }
  .bar-1,
  .bar-6 {
    width: 130px;
  }
  .bar-3,
  .bar-8 {
    width: 130px;
  }
  .bar-10,
  .bar-5 {
    width: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .left-frame,
  .left-frame-top {
    width: 60px;
    min-width: 60px;
    font-size: 0.8rem;
  }
  .left-frame-top {
    border-radius: 0 0 0 26px;
  }
  .left-frame {
    border-radius: 26px 0 0 26px;
    padding-top: 50px;
  }
  .bottom {
    border-radius: 26px 0 0 0;
  }
  .scroll-top a {
    width: 60px;
  }
  .panel-1 {
    padding-top: 30px;
  }
  .panel-2 {
    padding-bottom: 15px;
    /* border-bottom: 5px solid var(--background-dark); */
    background-color: var(--blue);
  }
  .panel-6 {
    padding-top: 150px;
  }
  .hop {
    display: none;
  }
  .top-corner-bg {
    width: 25px;
    height: 25px;
  }
  .top-corner {
    width: 25px;
    height: 25px;
    border-radius: 0 0 0 20px;
  }
  .bar-panel {
    height: 10px;
  }
  .bar-1,
  .bar-10,
  .bar-2,
  .bar-3,
  .bar-4,
  .bar-5,
  .bar-6,
  .bar-7,
  .bar-9 {
    height: 10px;
  }
  .bar-3,
  .bar-8 {
    width: 80px;
  }
  .bar-2,
  .bar-7 {
    width: 25px;
  }
  .bar-8 {
    height: 5px;
  }
  #gap {
    margin-top: 5px;
  }
  .corner-bg {
    width: 25px;
    height: 25px;
  }
  .corner {
    width: 25px;
    height: 25px;
    border-radius: 20px 0 0 0;
  }
  .panel-4 {
    padding-top: 65px;
  }
  .content {
    padding: 0 0 20px 15px;
  }
  p.indent {
    padding-left: 20px;
  }
  blockquote {
    margin: 25px 0 25px 20px;
  }
  .lcars-bar-cutout {
    margin: 0 auto;
    width: 80px;
    height: 8px;
  }
  .lcars-bar-slice-top {
    margin: 30px auto -30px auto;
    width: 80px;
    height: 6px;
  }
  .lcars-bar-slice-bottom {
    width: 80px;
  }
}

@media only screen and (max-width: 388px) {
  .bar-1,
  .bar-6 {
    width: 90px;
  }
}
